apiVersion: apps/v1
kind: Deployment
metadata:
  name: basedequestions
  labels:
    app: basedequestions
spec:
  replicas: 1
  selector:
    matchLabels:
      app: basedequestions
  template:
    metadata:
      labels:
        app: basedequestions
    spec:
      imagePullSecrets:
        - name: gitlab-req
      containers:
        - name: basedequestions
          image: gitlab.sciences-po.fr:4567/cdspit/base-de-questions/basedequestions:pprd
          env:
            - name: DATABASE_URL
              value: "sqlite:///app/db.sqlite3"
            - name: DJANGO_DEBUG
              value: "False"
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: basedequestions-secret
                  key: DJANGO_SECRET_KEY
          ports:
            - containerPort: 8000
          imagePullPolicy: Always
