apiVersion: apps/v1
kind: Deployment
metadata:
  name: basedequestions
spec:
  replicas: 1
  selector:
    matchLabels:
      app: basedequestions
  template:
    metadata:
      labels:
        app: basedequestions
    spec:
      securityContext:  # Contexte de sécurité au niveau du Pod pour appliquer fsGroup
        fsGroup: 1000  # Assure que le groupe ID 1000 peut accéder aux fichiers
      initContainers:  # InitContainer pour configurer les permissions du dossier media
        - name: init-media-permissions
          image: busybox  # Utilisation d'une image légère comme BusyBox
          command: ["sh", "-c", "chown -R 1000:1000 /app/media"]
          volumeMounts:
            - name: media-volume
              mountPath: /app/media
      containers:
        - name: basedequestions
          image: gitlab.sciences-po.fr:4567/cdspit/base-de-questions/basedequestions:latest
          command: ["./entrypoint.sh"]
          env:
            - name: DATABASE_URL
              value: "postgres://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@db:5432/$(POSTGRES_DB)"
            - name: DJANGO_DEBUG
              value: "False"
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: basedequestions-secret
                  key: DJANGO_SECRET_KEY
            - name: DJANGO_ALLOWED_HOSTS
              valueFrom:
                secretKeyRef:
                  name: basedequestions-secret
                  key: DJANGO_ALLOWED_HOSTS
            - name: CSRF_TRUSTED_ORIGINS
              valueFrom:
                secretKeyRef:
                  name: basedequestions-secret
                  key: CSRF_TRUSTED_ORIGINS
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: POSTGRES_PASSWORD
            - name: ELASTICSEARCH_HOST
              valueFrom:
                secretKeyRef:
                  name: elasticsearch-secret
                  key: ELASTICSEARCH_HOST
          ports:
            - containerPort: 8000
          imagePullPolicy: Always
          securityContext:  # Contexte de sécurité au niveau du conteneur
            runAsUser: 1000    # ID de `appuser`
            runAsGroup: 1000   # Groupe de `appuser`
          volumeMounts:
            - name: media-volume
              mountPath: /app/media  # Monte le PVC dans le conteneur
      volumes:
        - name: media-volume
          persistentVolumeClaim:
            claimName: media-pvc  # Utilise le PVC nommé media-pvc
