stages:
  - pre-test
  - test
  - build
  - post-build

# Built images are pushed to dockerhub as well for general public usage.
push-to-dockerhub:
  stage: post-build
  image:
    name: docker:28-cli
  script:
    - export CONTAINER_IMAGE_TAGGED_URI="${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
    - export CONTAINER_IMAGE_LATEST_TAG_URI="${CI_REGISTRY_IMAGE}:latest"
    # This is a post build job so we are quite sure that image with tag already exists
    # by the time pipeline reaches here.
    - echo "Pulling image ${CONTAINER_IMAGE_TAGGED_URI} from registry..."
    - echo "${CI_REGISTRY_PASSWORD}" | docker login -u "${CI_REGISTRY_USER}" --password-stdin ${CI_REGISTRY}
    - docker pull ${CONTAINER_IMAGE_TAGGED_URI}
    - echo "Tagging image ${CONTAINER_IMAGE_TAGGED_URI} as latest"
    - docker image tag ${CONTAINER_IMAGE_TAGGED_URI} ${CONTAINER_IMAGE_LATEST_TAG_URI}
    - docker image ls
    - echo "Pushing image to Docker Hub"
    - echo "${DOCKERHUB_PAT}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
    - docker push ${CONTAINER_IMAGE_TAGGED_URI}
    - docker push ${CONTAINER_IMAGE_LATEST_TAG_URI}
  rules:
    - if: $CI_COMMIT_TAG

include:
  # Lint Python packages using Ruff
  - component: $CI_SERVER_FQDN/cdspit/ci-utilities/ci-templates/ruff-lint@main

  # Build container image
  - component: $CI_SERVER_FQDN/cdspit/ci-utilities/ci-templates/build-image@main
  
  # Unit tests
  - component: $CI_SERVER_FQDN/cdspit/ci-utilities/ci-templates/pytest@main
