stages:
  - pre-test
  - build
  - test

# Built images are pushed to dockerhub as well for general public usage.
.request-ddi-build-extends:
  after_script:
    - echo "Pushing image to Docker Hub"
    - echo "${DOCKERHUB_PAT}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
    - |
      # Push only tagged images to DockerHub
      # If CONTAINER_IMAGE_TAGGED_URI is non empty, it means a new tag has been created, push to remote
      if [ -n "${CONTAINER_IMAGE_TAGGED_URI}" ]; then
        echo "Pushing image ${CONTAINER_IMAGE_TAGGED_URI} to Dockerhub..."
        docker push ${CONTAINER_IMAGE_TAGGED_URI}
      fi

      # If CONTAINER_IMAGE_TAGGED_URI is non empty, it means a new latest tag has been created, push to remote
      if [ -n "${CONTAINER_IMAGE_LATEST_TAG_URI}" ]; then
        echo "Pushing image ${CONTAINER_IMAGE_LATEST_TAG_URI} to Dockerhub..."
        docker push ${CONTAINER_IMAGE_LATEST_TAG_URI}
      fi

include:
  # Lint Python packages using Ruff
  - component: $CI_SERVER_FQDN/cdspit/ci-utilities/ci-templates/ruff-lint@main

  # Build frontend
  - component: $CI_SERVER_FQDN/cdspit/ci-utilities/ci-templates/build-image@main
    inputs:
      job_extends: [".request-ddi-build-extends"]
