version: '3.11'

services:
  basedequestions:
    image: question_base-backend:local
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    user: "1000:1000"
    volumes:
      - ./:/app
    entrypoint: /app/entrypoint.dev.sh
    depends_on:
      - elasticsearch
    networks:
      - default
    environment:
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - DEBUG=${DJANGO_DEBUG}
      - ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - ELASTICSEARCH_HOST=${ELASTICSEARCH_HOST}

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.0.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms4g -Xmx4g
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data_dev:/usr/share/elasticsearch/data
    networks:
      - default

volumes:
  elasticsearch_data_dev:

networks:
  default:
    driver: bridge
