version: '3.11'

services:
  basedequestions:
    env_file:
      - .env
    image: question_base-backend:local
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    user: "1000:1000"
    volumes:
      - ./:/app
    entrypoint: /app/entrypoint.dev.sh
    depends_on:
      - elasticsearch
      - db_dev
    networks:
      - default



  db_dev:
    image: postgres:13
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    networks:
      - default

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.0.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms4g -Xmx4g
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data_dev:/usr/share/elasticsearch/data
    deploy:
      resources:
        limits:
          memory: 6G
    networks:
      - default

volumes:
  postgres_data_dev:
  elasticsearch_data_dev: