version: '3.11'

services:
  basedequestions:
    image: question_base-backend:local
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    user: "1000:1000"
    volumes:
      - ./:/app
      - media_data:/app/media  # Ajout du volume pour media
    entrypoint: /app/entrypoint.sh
    depends_on:
      - elasticsearch
      - db
    networks:
      - default
    environment:
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - DEBUG=${DJANGO_DEBUG}
      - ALLOWED_HOSTS=[*]
      - ELASTICSEARCH_HOST=${ELASTICSEARCH_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

  db:
    image: postgres:14
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - default

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.0.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms4g -Xmx4g
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - default

volumes:
  postgres_data:
  elasticsearch_data:
  media_data:

networks:
  default:
    driver: bridge
