version: '3.11'

services:
  basedequestions:
    image: question_base-backend:local
    build:
      context: .
      dockerfile: Dockerfile
#    env_file:
#      - ./basedequestions/configmap.env
    ports:
      - "8000:8000"
    user: "1000:1000"
    volumes:
      - ./:/app
    entrypoint: /app/entrypoint.sh
    depends_on:
      - elasticsearch
    networks:
      - default

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.0.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.transport.ssl.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - default

volumes:
  elasticsearch_data:

networks:
  default:
    driver: bridge
