[tool.ruff]
exclude = ["*.ipynb"]
target-version = "py39"
line-length = 100
lint.select = [
  "A", "B", "C", "DTZ", "E", "EM", "F", "FBT", "I", "ICN", "N",
  "PLC", "PLE", "PLR", "PLW", "Q", "RUF", "S", "SIM", "T", "TID", "UP",
  "W", "YTT",
]
lint.ignore = [
	# FBT001 Boolean positional arg in function definition
	"FBT001", "FBT002", "FBT003",
	# PLR0913 Too many arguments to function call
	"PLR0913",
	# SIM105 Use `contextlib.suppress(...)`
	"SIM105",
]

[tool.ruff.lint.per-file-ignores]
# E501 Line too long (158 > 100 characters)
"app/tests/*" = ["E501"]
# RUF012 Mutable class attributes should be annotated with `typing.ClassVar`
"app/migrations/*" = ["RUF012"]
