{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-custom mt-4">
        <div class="text-center mb-3">
            <h1 class="mb-2">Import de fichier</h1>
            <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#csvUploadModal">Importer un fichier csv</a>
        </div>

        <!-- Section XML -->
        <div class="col-md-8 mx-auto">
            <div class="help-box">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Colonnes attendues pour le CSV</h3>
                        <ul>
                            <li>doi</li>
                            <li>xml_lang</li>
                            <li>title</li>
                            <li>author</li>
                            <li>producer</li>
                            <li>distributor</li>
                            <li>start_date</li>
                            <li>geographic_coverage</li>
                            <li>geographic_unit</li>
                            <li>unit_of_analysis</li>
                            <li>contact</li>
                            <li>date_last_version</li>
                            <li>collection</li>
                            <li>sous-collection</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-6">
                        <h3>Balises attendues pour le XML</h3>
                        <ul>
                            <li>var 
                                <ul> 
                                    <li>catValu</li> 
                                    <li>labl</li> 
                                    <li>catgry</li> 
                                    <li>qstnLit</li> 
                                    <li>universe</li> 
                                    <li>notes</li> 
                                </ul> 
                            </li> 
                            <li>IDNo</li> 
                            <li>titl</li>
                        </ul>
                    </div>
                    <p class="text-center px-3">Assurez-vous que ces balises sont présentes dans votre fichier CSV ainsi que dans vos fichiers XML associés, pour garantir une structure valide.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Superposition et spinner de chargement -->
    <div class="overlay" id="overlay">
        <div class="spinner-container">
            <div class="spinner"></div>
            <div class="spinner-text">Traitement en cours...</div>
        </div>
    </div>

    <div class="modal fade" id="csvUploadModal" tabindex="-1" aria-labelledby="csvUploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="csvUploadModalLabel">Importer un fichier CSV</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" id="csvUploadFormCollection"
                          action="{% url 'request_ddi:upload_csv_collection' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="csv_file">Sélectionnez un fichier CSV :</label>
                            <input type="file" name="csv_file" id="csv_file" class="form-control" accept=".csv">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" name="force_import" id="force_import" class="form-check-input">
                            <label class="form-check-label" for="force_import">
                                Ignorer les doublons et mettre à jour les variables
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Importer le fichier CSV</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type=module src="{% static 'js/uploadCsv.bundle.js' %}"></script>
    <script type=module src="{% static 'js/uploadXml.bundle.js' %}"></script>
{% endblock %}


{% block extra_css %}
    <style>
        .form-control {
            border: none;
        }

        /* Styles similaires à ceux utilisés dans `upload_csv.html` */
        .help-box {
            background-color: #e9ecef;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
            color: #333;
        }

        /* Superposition et spinner */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 2000;
        }

        .overlay.show {
            display: flex;
        }

        .spinner-container {
            text-align: center;
        }

        .spinner {
            width: 60px;
            height: 60px;
            border: 8px solid rgba(0, 0, 0, 0.1);
            border-top: 8px solid #28a745;
            animation: spin 1s linear infinite;
            border-radius: 50%;
            margin: 0 auto;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
{% endblock %}

