/* Style général */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Couleur beige douce */
}

.homepage-title {
    font-family: 'Redaction10', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #536254;
}

.custom-large-title {
    font-size: 2.2rem;
}

.container-custom-font {
    max-width: 750px;
    margin: 0 auto;
}

.container-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background-color: #6c757d;;
    padding: 10px;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    background-color: #005fa3;
}

/* Section Hero */
section.hero {
    width: 80%;
    color: #333;
    padding: 100px 20px;
    text-align: center;
    margin: 0 auto;
}


section.hero h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #333;
}

section.hero p {
    color: #666;
}


.homepage-search-form {
    margin-top: 30px;
}


/* Section Features */
section.features {
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature img {
    max-width: 100%;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #00466b;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

/* Section des études */
.studies {
    padding: 50px 20px;
}

.study-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 120px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.study-card-link {
    width: 100%;
}

.study-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.study-card-image {
    width: 80px;
    height: auto;
    border-radius: 8px;
}

.study-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.study-card h5 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    text-align: left;
}

.study-card p {
    color: #666;
    font-size: 0.9em;
}

.study-card button {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.study-card button:hover {
    background-color: #666666;
}

.dropdown-item.active {
    background-color: #6c757d;;
}



