
.filters {
    flex: 0 1 30%;
    max-width: 400px;
    min-width: 220px;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reset-btn {
    margin-top: auto;
    background: none;
    border: none;
    color: #4caf50;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
}

.content {
    flex: 1 1 70%;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid #e0e0e0;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.actions button {
    margin-left: 8px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

.height_topbar {

    height: var(--topbar-height);

}

.accordion-item-custom {
    min-height: 56px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.padding-filters-container {

    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;

}

.export-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.custom-topbar {
    padding-right: 16px;
    padding-left: 16px;
}


.custom-card-dt {
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    display: flex;
    gap: 16px;
    border-bottom: 1px solid #D3DFD5;

}

.title-checkbox {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.custom-metadatas {
    padding-left: 56px
}

.inner-container-metadatas {
    gap: 5px;
    line-height: 24px;
}

.custom-card-first-part {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.custom-card-second-part {
    padding-left: 56px;
}

.custom-content-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-buttons-card {
    display: flex;
    gap: 16px;
}

.icon-modalites {
    width: 20px;
    height: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse; /* Important pour que les bordures partagées s'effondrent */
    font-size: 0.9em;
}

.styled-table tr:not(:last-child) {
    border-bottom: 1px solid #ddd; /* Applique une bordure sous toutes les lignes sauf la dernière */
}

.styled-table td {
    padding: 8px;
    text-align: left;
}

.code-cell {
    font-weight: bold;
    width: 50px;
    border-right: 1px solid #ddd; /* Bar verticale entre les deux cellules */
    text-align: center; /* Centré pour les index */
}

.text-cell {
    padding-left: 10px;
    /* Pas de bordure sur le texte lui-même */
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header {
    width: 100%;
    margin: auto;
    padding: 16px 0;
}

.table-container {
    /* flex-grow: 1; */
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    height: calc(100% - var(--topbar-height) - var(--selected-filters-container-height));
}

.container-button-load-more {
    padding-top: 16px;
    padding-bottom: 16px;
}

#load-more {
    display: block;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    width: fit-content;
}

.selected-filters-container {
    max-height: 196px; /* Hauteur maximale fixe pour la div des labels */
    overflow-y: auto;
    padding: 24px 16px;
    gap: 8px;
    border-bottom: 1px solid #D3DFD5;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}

.selected-filter-card {
    display: inline-flex;
    gap: 10px;
    width: auto;
    background-color: #F8F1F2;
    border-radius: 8px;
    gap: 8px;
    padding: 8px;
    align-items: center;
}

.decade-item {
    justify-content: space-between;
}

.decade-item, .year-item {
    width: 100%

}

.decade-caret, .fa-caret-left {
    cursor: pointer;
}

.back-button {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-button i {
    margin-right: 5px;
}

#survey-table {
    flex: 1; /* Permet à la table de prendre tout l'espace disponible */
    overflow-y: auto; /* Active le défilement vertical pour la table */
}


.checkbox-custom {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid #807E7E;
    border-radius: 2px;
    appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 8px;
    vertical-align: middle;
    background-color: transparent;
    margin: auto 8px;
    flex-shrink: 0;
}

.checkbox-custom:hover {
    background-color: #F2FAF2;
    border: 2px solid #536254;
}

/* Check blanc quand sélectionné */
.checkbox-custom:checked {
    background-color: #2E6831;
    border-color: #2E6831;
}

.checkbox-custom:checked::after {
    content: "";
    position: absolute;
    top: 58%;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    background-image: url("/static/svg/icons/checkbox_checked.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.div-all-checkboxes {
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.form-check-custom {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 8px;
    cursor: pointer;
    white-space: wrap;
    font-size: 14px;
}


#filtersAccordion {
    height: calc(100% - var(--topbar-height) - var(--resetbar-height));
    overflow-y: auto;
}


.chevron-icon {
    margin-right: 8px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.accordion-collapse {
    width: 100%;
}

.accordion-body {
    width: 100%;
}

#years-filter {
    width: 100%;
    padding-bottom: 10px;
}

.reset-filters-container {
    border-top: 1px solid #D3DFD5;
    padding-top: 8px;
    padding-bottom: 8px;
    height: var(--resetbar-height);
    display: flex;
    justify-content: flex-start;
}

.container-reset-button {
    margin: auto 0;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.reset-icon {
    width: 20px;
    height: 20px;
}

.custom-name-card:hover {
    color: #1F1F1F;
    text-decoration: underline;
    text-decoration-color: #1F1F1F;
}

.container-buttons-export {
    gap: 16px;
}


.filter-count {
    display: none;
    background-color: #E3FFE8;
    color: #4F4F4F;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.checkbox-custom:indeterminate {
    background-color: #2E6831;
    background-image: url("/static/svg/icons/checkbox_neutral.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    border: 2px solid #2E6831;
}

.white-button:hover {
    color: #2E6831;
}

table.dataTable {
    margin-bottom: 0px !important;
}

.collapse-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.remove-filter {
    height: 22px;
    width: 22px;
}

.remove-filter:hover {
    color: #536254;
}

.remove-filter:active {
    color: #7F877F;
}

.custom-swal-button {
    border: none;
    outline: none;
    box-shadow: none !important;
    padding: 16px;
    border-radius: 16px;

    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 16px;
}

.swal2-html-container {
    display: flex !important;
    flex-direction: column;
    gap: 16px;
}

.background-red-caret {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FFE3E4;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.background-red-caret.rotate {
    transform: rotate(180deg);
    background-color: transparent; /* Retire le fond rouge */
}

:root {
    --selected-filters-container-height: 0px;
}

.inner-container-custom {
    --topbar-height: 64px;
    --resetbar-height: 64px;
}

.search-results-container {
    width: 70%;
    overflow: hidden;
}

.filters-container {
    width: 30%;
}

.badge-category {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em; /* Taille des lettres du badge */
    cursor: pointer;
    z-index: 1; /* S'assurer que le badge est au-dessus du texte */
    width: 15rem;
}

.category-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 15rem;
    padding: 10px;
    border-radius: 3px;
    max-height: calc(100% - 40px); /* Limite à la hauteur de la carte parent, en laissant 40px de marge */
    overflow-y: auto; /* Scroll si nécessaire */
}

.category-item {
    padding: 5px;
    font-size: 0.75em; /* Réduit la taille du texte dans les catégories */
}

.highlight-category {
    background-color: rgba(255, 70, 78, 0.15);
    font-weight: bold;
}

.category-dropdown a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 0.75em; /* Réduit la taille du texte dans les liens */
}

.category-dropdown a:hover {
    background-color: #f1f1f1;
}

.card {
    position: relative; /* Important pour confiner le dropdown à la carte */
    margin-bottom: 20px;
    overflow: hidden; /* Empêche le dépassement du contenu */
}

.bootstrap-select .btn {
    max-width: 200px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}