.survey-card {
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

.survey-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.survey-card-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.survey-card-content {
    margin-left: 15px;
}

.survey-card h5 {
    margin: 0;
    font-size: 18px;
}

.custom-survey-name{
    color:#6c757d;
    font-weight: bold;
}
