.inner-container-custom {
    flex-direction: column;
    height: auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-subtitle {
    font-size: 1rem;
    color: #6c757d;
}

.info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #6c757d;
    margin-right: 10px;
    white-space: nowrap;
}

.info-value {
    color: #6c757d;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    flex: 1;
}

.detail-label {
    font-weight: bold;
    margin-right: 5px;
}

.modalities-container {
    margin-top: 20px;
}

.modalities-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.modalities-table th,
.modalities-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.modalities-table th {
    font-weight: bold;
    background-color: #f9f9f9;
}

.modalities-table tr:hover {
    background-color: #f1f1f1;
}

.similar-questions-container {
    margin-top: 30px;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.return-search-container {
    display: flex;
}

.export-access-container {
    display: flex;
    gap: 10px;
}


.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-subtitle {
    font-size: 1rem;
    color: #6c757d;
}

.info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #6c757d;
    margin-right: 10px;
    white-space: nowrap;
}

.info-value {
    color: #6c757d;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    flex: 1;
}

.detail-label {
    font-weight: bold;
    margin-right: 5px;
}

.modalities-container {
    margin-top: 20px;
}

.modalities-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.modalities-table th,
.modalities-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.modalities-table th {
    font-weight: bold;
    background-color: #f9f9f9;
}

.modalities-table tr:hover {
    background-color: #f1f1f1;
}

.similar-questions-container {
    margin-top: 30px;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.details-variable-container{
    gap: 32px;
    padding-top: 40px;
    padding-right: 48px;
    padding-bottom: 40px;
    padding-left: 48px;
    border-bottom-width: 1px;
    display:flex;
    flex-direction:column;

}

.styled-table {
    width: 100%;
    border-collapse: collapse;  /* Important pour que les bordures partagées s'effondrent */
    font-size: 0.9em;
}

.styled-table tr:not(:last-child) {
    border-bottom: 1px solid #ddd;  /* Applique une bordure sous toutes les lignes sauf la dernière */
}

.styled-table td {
    padding: 8px;
    text-align: left;
}

.text-cell {
    padding-left: 10px;
    /* Pas de bordure sur le texte lui-même */
}

.code-cell {
    font-weight: bold;
    width: 50px;
    border-right: 1px solid #ddd;  /* Bar verticale entre les deux cellules */
    text-align: center;  /* Centré pour les index */
}