.card-link {
    color: inherit;
    text-decoration: none;
}

.modalities-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.modalities-column {
    flex: 1;
}

.grid-row {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.grid-code {
    width: 30%;
    text-align: left;
}

.grid-label {
    flex: 1;
    text-align: left;
}