.inner-container-custom {
    flex-direction: column;
    height: auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #6c757d;
    margin-right: 10px;
    white-space: nowrap;
}

.info-value {
    color: #6c757d;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    flex: 1;
}


.modalities-container {
    gap:16px;
    display:flex;
    flex-direction: column;
}

.modalities-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.modalities-table th,
.modalities-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.modalities-table th {
    font-weight: bold;
    background-color: #f9f9f9;
}

.modalities-table tr:hover {
    background-color: #f1f1f1;
}

.similar-questions-container {
    margin-top: 30px;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-top: 8px;
    padding-right: 48px;
    padding-bottom: 8px;
    padding-left: 48px;

}

.return-search-container {
    display: flex;
}

.export-access-container {
    display: flex;
    gap: 10px;
}

.card-subtitle {
    font-size: 1rem;
    color: #6c757d;
}

.info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #6c757d;
    margin-right: 10px;
    white-space: nowrap;
}

.info-value {
    color: #6c757d;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    flex: 1;
}

.modalities-container {
    display:flex;
    flex-direction:column;
    gap: 32px;
    padding-bottom: 40px;

}

.modalities-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.modalities-table th,
.modalities-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.modalities-table th {
    font-weight: bold;
    background-color: #f9f9f9;
}

.modalities-table tr:hover {
    background-color: #f1f1f1;
}

.similar-questions-container {
    margin-top: 30px;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.details-variable-container{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom-width: 1px;
    display:flex;
    flex-direction:column;

}

.styled-table {
    width: 100%;
    border-collapse: collapse;  /* Important pour que les bordures partagées s'effondrent */
}

.styled-table tr:not(:last-child) {
    border-bottom: 1px solid #D3DFD5;  /* Applique une bordure sous toutes les lignes sauf la dernière */
}

.styled-table td {
    padding: 8px;
    text-align: left;
}

.styled-table th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #D3DFD5; /* Ajoute une bordure en bas des cellules d'en-tête */
}

.text-cell {
    padding-left: 16px!important;
}

.code-cell {
    width: 110px;
    border-right: 1px solid #D3DFD5;;  /* Bar verticale entre les deux cellules */
    text-align: center;  /* Centré pour les index */
    padding-right: 16px;
}

.card-question-detail{
    background-color: #EFF7F0;
    border-radius: 16px;
    gap: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.button-access-data-card{
    background-color:transparent;
}

.information-icon{
    width:24px;
    height:24px;
}

.ui-tooltip  {
    background-color: #EFF7F0 !important;
    color: #1F1F1F !important;
    border-radius: 16px !important;
    border: 1px solid #D3DFD5 !important;
    padding: 16px !important;
    max-width: 500px !important;
    text-align: left !important;
    box-shadow: none!important;
    max-width:300px!important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before,
.tooltip.bs-tooltip-bottom .tooltip-arrow::before,
.tooltip.bs-tooltip-left .tooltip-arrow::before,
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-top-color: #D3DFD5 !important;
}

.accordion-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.badge-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #E3FFE8;
    color: #361717;
    border-radius: 10px;
    width: 24px;
    height: 24px;

    font-family: "Inter Tight" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;



}


.information-variable{
    gap:32px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding-left: 48px;
    padding-right: 48px;

}


.ft-600{
    font-weight: 600;
}

.custom-headline{
    color:#536254;

}

.title-modalities-table{
    font-family: "Inter Tight" sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.1px;
    vertical-align: middle;

}

.questions-container{
    padding-top : 40px;
    padding-bottom : 40px;
    padding-left: 48px;
    padding-right: 48px;
    
}

.header-container-questions{
    display:flex;
    flex-direction:row;
    gap:16px;
    align-items: center;
}

.d-none {
    display: none !important;
}

.accordion-item-custom{
    display: flex;
    flex-direction:column;
    gap:32px;
}

.code-cell-card{
    padding-left:16px!important;
    border-right: 1px solid #D3DFD5;
}

.accordion-custom{
    display:flex;
    flex-direction:column;
    gap:32px
}