
header {
    background-color: #00466b;
    color: white;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #888888;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
section.hero {
    background-color: #888888;
    color: white;
    padding: 100px 20px;
    text-align: center;
}
section.hero h2 {
    margin-bottom: 10px;
}
.search-bar {
    margin-top: 20px;
}
.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}
.search-bar button {
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
section.features {
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.feature {
    text-align: center;
    max-width: 300px;
}
.feature img {
    max-width: 100%;
}
footer {
    background-color: #00466b;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.studies {
padding: 50px 20px;
background-color: #f9f9f9;
}

.study-cards {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.study-card {
background-color: white;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-width: 300px;
padding: 20px;
text-align: center;
transition: transform 0.3s;
}

.study-card:hover {
transform: scale(1.05);
}

.study-card img {
max-width: 100%;
border-radius: 10px;
}

.study-card h3 {
margin: 15px 0 10px;
}

.study-card p {
color: #666;
font-size: 0.9em;
}

.study-card button {
background-color: #888888;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.study-card button:hover {
background-color: #888888;
}


.btn-outline-secondary {
    color: white !important;  /* Mettre le texte en blanc */
    border-color: white !important;  /* Bordure blanche pour harmoniser */
}

.dropdown-toggle.btn {
    background-color: #888888 !important;  /* Couleur de fond gris (ou autre si besoin) */
    color: white !important;  /* Texte blanc */
}


.form-select button{
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black !important;
}

.custom-name-card{
    color:#6c757d;
    font-weight: bold;
}