apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: request
spec:
  selector:
    app: postgres
    component: db
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  clusterIP: None
