apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: basedequestions

bases:
  - ../../base/

resources:
  - pvc.yml
  - ingress.yml # Ingress pour l'accès externe


# Labels communs à toutes les ressources dans cet overlay
commonLabels:
  environment: pprd  # On identifie cet environnement comme étant "préproduction"


# Images à utiliser pour cet environnement (staging)
images:
  - name: gitlab.sciences-po.fr:4567/cdspit/base-de-questions/basedequestions
    newTag: pprd


