apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: basedequestions-pprd  # Namespace spécifique à la préproduction

bases:
  - ../../base/

resources:
  - ingress.yml # Ingress pour l'accès externe


# Labels communs à toutes les ressources dans cet overlay
commonLabels:
  environment: pprd  # On identifie cet environnement comme étant "préproduction"


# Images à utiliser pour cet environnement (staging)
images:
  - name: gitlab.sciences-po.fr:4567/cdspit/base-de-questions
    newTag: 'staging'

# Autres patches si nécessaire (ex: CronJob)
patches:
  - target:
      kind: Deployment
      name: basedequestions
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1  # Réduire les réplicas pour la préprod si besoin
