namespace: pprd  # Change en fonction de ton besoin, si c'est basé sur "basedequestions"

resources:
  - ../../base/basedequestions  # Référence le dossier complet pour basedequestions
  - ../../base/elasticsearch  # Référence le dossier complet pour elasticsearch
  - ingress.yml  # Ingress pour redirection du trafic

commonLabels:
  stage: pprd  # Étiquette commune pour le déploiement

images:
  - name: gitlab.sciences-po.fr:4567/cdspit/base-de-questions  # Lien vers l'image de ton application
    newTag: 'pprd'  # Tag d'image à utiliser
