namespace: pprd

resources:
  - ../../base/basedequestions  # Ce répertoire doit contenir un fichier kustomization.yaml
  - ../../base/elasticsearch  # Ce répertoire doit également contenir un fichier kustomization.yaml
  - ingress.yml  # Assurez-vous que ce fichier existe également

commonLabels:
  stage: pprd

images:
  - name: gitlab.sciences-po.fr:4567/cdspit/base-de-questions
    newTag: 'pprd'
