apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: request

bases:
  - ../../base/

resources:
  - ../../base/basedequestions/ingress.yml


# Labels communs à toutes les ressources dans cet overlay
commonLabels:
  environment: pprd


# Images à utiliser pour cet environnement
images:
  - name: gitlab.sciences-po.fr:4567/cdspit/request/base-de-questions
    newTag: pprd


patches:
  - path: ingress-patch.yml
    target:
      kind: Ingress
      name: basedequestions-ingress
      namespace: request
