{% load static %}
<!DOCTYPE html>
<html lang="fr">
	<!--begin::Head-->
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mon Application{% endblock %}</title>
        <!-- Inclure les CSS de Bootstrap et DataTables -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- Inclure les JS de jQuery, DataTables et Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <div class="container mt-5">
        {% block content %}
        <!-- Le contenu des templates enfants sera rendu ici -->
        {% endblock %}
    </div>
    {% block extra_js %}
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}
</html>