{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>{{ collection.name }}</h1>
        <p><strong>Distributor:</strong> {{ collection.distributor }}</p>
        <p><strong>Abstract:</strong> {{ collection.abstract }}</p>

        <h2>Enquêtes</h2>
        <ul>
            {% for survey in collection.survey_set.all %}
                <li>{{ survey.name }} ({{ survey.external_ref }})</li>
            {% empty %}
                <li>No surveys found for this collections.</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}