{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4">
        <h1 class="text-center mb-4">Export en CSV</h1>
        <form method="GET" action="{% url 'export_questions_csv' %}" class="d-flex flex-column align-items-center">
            <!-- Sélection de la collection -->
            <div class="mb-3">
                <label for="collections-filter" class="form-label">Choisissez une ou plusieurs collections :</label>
                <select name="collections" id="collections-filter" class="selectpicker form-select" multiple data-live-search="true">
                    {% for collection in collections %}
                        <option value="{{ collection.id }}">{{ collection.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Sélection de l'enquête -->
            <div class="mb-3">
                <label for="survey-filter" class="form-label">Choisissez une ou plusieurs enquêtes :</label>
                <select name="surveys" id="survey-filter" class="selectpicker form-select" multiple data-live-search="true">
                    {% for survey in surveys %}
                        <option value="{{ survey.id }}">{{ survey.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Bouton Télécharger -->
            <button type="submit">Télécharger le fichier CSV</button>
        </form>
    </div>
{% endblock %}

{% block extra_css %}
<style>
    button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const collectionsFilter = document.getElementById('collections-filter');
        const surveyFilter = document.getElementById('survey-filter');
        $('.selectpicker').selectpicker();

        collectionsFilter.addEventListener('change', function () {
            const selectedCollections = Array.from(collectionsFilter.selectedOptions).map(option => option.value);

            fetch(`/api/get-surveys-by-collections/?collections_ids=${selectedCollections.join(',')}`)
                .then(response => response.json())
                .then(data => {
                    surveyFilter.innerHTML = '';

                    data.surveys.forEach(survey => {
                        const option = document.createElement('option');
                        option.value = survey.id;
                        option.textContent = survey.name;
                        surveyFilter.appendChild(option);
                    });

                    $('.selectpicker').selectpicker('refresh');
                });
        });
    });
</script>
{% endblock %}
