{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-custom mt-4">
        <h1 class="text-center mb-4">Upload de CSV et XML</h1>
        <div class="d-flex justify-content-center">
            <a href="{% url 'export_questions_csv' %}">
                <button>Télécharger le fichier CSV</button>
            </a>
        </div>
    </div>
{% endblock %}

{% block extra_css %}

<style>
    .container-custom {
            min-height: 90%;
            flex-grow: 1;
        }
    button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #0056b3;
    }
</style>

{% endblock %}

