{% extends 'base.html' %}
{% load static %}
{% load i18n %} 


{% block content %}
    <div class="container-homepage">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <section class="hero">
            <div class="container-custom-font">
                <p class="custom-large-title">{% trans "Découvrez, comparez et réutilisez des questions d'enquêtes en sciences humaines et sociales" %}</p>
            </div>
            <form method="GET" action="{% url 'app:search_results' %}" class="search-bar">
                <input type="text" name="q" placeholder="Rechercher une question..." value="{{ request.GET.q }}"
                       id="autocomplete-input">
                <input type="hidden" name="search_location[]" value="questions">
                <input type="hidden" name="search_location[]" value="categories">
                <input type="hidden" name="search_location[]" value="variable_name">
                <input type="hidden" name="search_location[]" value="internal_label">
                <button type="submit" class="btn btn-outline-primary mx-2"><i
                        class="fa-solid fa-magnifying-glass pr-2"></i>Rechercher
                </button>
            </form>
        </section>

    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}

