{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container-homepage">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <section class="hero">
            <div class="container-custom-font">
                <p class="custom-large-title">{% trans "Découvrez, comparez et réutilisez des questions d'enquêtes en sciences humaines et sociales" %}</p>
            </div>
            <form method="GET" action="{% url 'app:search_results' %}" class="search-bar">
                <div class="search-input-wrapper">
                    <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" name="q" placeholder="mots clés..." value="{{ request.GET.q }}"
                           id="autocomplete-input">
                    <button type="submit" class="search-button">Rechercher</button>
                </div>
                <input type="hidden" name="search_location[]" value="questions">
                <input type="hidden" name="search_location[]" value="categories">
                <input type="hidden" name="search_location[]" value="variable_name">
                <input type="hidden" name="search_location[]" value="internal_label">
            </form>


        </section>

    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

