{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="inner-container-custom d-flex">
    <div class="top-bar">
        <div class="return-search-container">
            <button type="button" class="btn btn-secondary" onclick="window.location.href=`{% url 'app:search_results' %}`">
                Retour à la recherche
            </button>
        </div>
        <div class="export-access-container">
            <button type="button" class="btn btn-primary" onclick="exportMetadata()">
                Exporter les métadonnées
            </button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='https://doi.org/{{ question_survey.external_ref }}'">
                Accéder aux données
            </button>
        </div>
    </div>
    <div class="details-variable-container">
        <div class="">
            <h5 class="card-title">{{ question_represented_var.question_text|default:"N/A" }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <span class="detail-label">Enquête:</span> {{ question_survey.name }}
                {% if question_survey.dist_date %}
                    (Date : {{ question_survey.dist_date|date:"d-m-Y" }})
                {% endif %}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
                <span class="detail-label">Nom de la variable:</span> {{ question.variable_name }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
                <span class="detail-label">Libellé de la variable:</span> {{ question_represented_var.internal_label }}
            </h6>
            <h6 class="card-subtitle mb-3 text-muted">
                <span class="detail-label">DOI:</span> {{ question_survey.external_ref }}
            </h6>

            {% if question.universe %}
            <div class="info-row">
                <span class="info-label">Univers de la variable:</span>
                <span class="info-value">{{ question.universe }}</span>
            </div>
            {% endif %}

            <div class="modalities-container mt-4">
                <h4>Modalités</h4>
                {% if categories %}
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th class="code-cell">Code</th>
                            <th class="text-cell">Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td class="code-cell">{{ category.code }}</td>
                            <td class="text-cell">{{ category.category_label }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Aucune catégorie associée.</p>
                {% endif %}
            </div>            

            <div class="similar-questions-container mt-5">
                <h2>
                    Questions identiques
                    <span
                        class="info-icon"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Questions avec les mêmes intitulés de questions, codes et modalités.">
                        &#9432;
                    </span>
                </h2>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for question in similar_representative_questions %}
                    <div class="col mb-3">
                        <a href="{% url 'app:question_detail' question.id %}" class="text-decoration-none card-link">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{ question.variable_name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Enquête: {{ question.survey }}</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% if not similar_representative_questions %}
                    <p>Aucune question identique trouvée.</p>
                    {% endif %}
                </div>
            </div>

            <div class="similar-questions-container mt-5">
                <h2>
                    Questions similaires
                    <span
                        class="info-icon"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Questions avec les mêmes intitulés de questions, mais dont les codes et/ou modalités peuvent différer.">
                        &#9432;
                    </span>
                </h2>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for question in similar_conceptual_questions %}
                    <div class="col mb-3">
                        <a href="{% url 'app:question_detail' question.id %}" class="text-decoration-none card-link">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{ question.variable_name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Enquête: {{ question.survey }}</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% if not similar_conceptual_questions %}
                    <p>Aucune question similaire trouvée.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/question_detail.css' %}">
{% endblock %}

{% block extra_js %}
<script>

    $(document).ready(function() {
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>
{% endblock %}
