<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="GET" action="">
    <input type="text" name="q" placeholder="Rechercher une question..." value="{{ request.GET.q }}">
    <button type="submit">Rechercher</button>
</form>

<ul>
    {% for variable in variables %}
        <li>
            <strong>{{ variable.internal_label }}</strong>
            {% if variable.question_text %}
                : {{ variable.question_text }}
            {% endif %}
        </li>
    {% empty %}
        <li>Aucune question trouvée pour ce mot-clé.</li>
    {% endfor %}
</ul>


</body>
</html>