{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>{{ serie.name }}</h1>
        <p><strong>Publisher:</strong> {{ serie.publisher }}</p>
        <p><strong>Abstract:</strong> {{ serie.abstract }}</p>

        <h2>Enquêtes</h2>
        <ul>
            {% for survey in serie.survey_set.all %}
                <li>{{ survey.name }} ({{ survey.external_ref }})</li>
            {% empty %}
                <li>No surveys found for this series.</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}