{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-custom mt-4">
    <div class="text-center mb-3">
        <h1 class="mb-2">Upload de CSV et XML</h1>
        <a href="{% url 'app:create-serie' %}" class="btn btn-warning">Créer une nouvelle série</a>
    </div>
        

        <!-- Colonne gauche pour le CSV -->
        <div class="row justify-content-center w-100">
            <!-- Section CSV -->
            <div class="col-md-5">
                <div class="help-box">
                    <h2>Aide pour le fichier CSV</h2>
                    <p>Votre fichier CSV doit contenir les colonnes suivantes :</p>
                    <ul>
                        <li>ddi</li>
                        <li>title</li>
                        <li>variable_name</li>
                        <li>variable_label</li>
                        <li>question_text</li>
                        <li>category_label</li>
                        <li>univers</li>
                        <li>notes</li>
                    </ul>
                    <p>Assurez-vous que ces colonnes sont présentes et correctement orthographiées.</p>
                </div>

                <h2>Uploader un fichier CSV</h2>
                <form class="d-flex flex-column" method="POST" enctype="multipart/form-data" id="csvUploadForm" action="{% url 'app:upload_csv' %}">
                    {% csrf_token %}
                    <div class="mb-2">
                    {{ csv_form.series.label_tag }} {{ csv_form.series }}
                    </div>
                    <div>
                    {{ csv_form.csv_file.label_tag }} {{ csv_form.csv_file }}
                    </div>
                </form>
                <button type="submit" form="csvUploadForm" id="submitCsvBtn" class="btn btn-success mt-3">Envoyer le fichier CSV</button>
            </div>

            <!-- Section XML -->
            <div class="col-md-5">
                <div class="help-box">
                    <h2>Balises attendues pour le XML</h2>
                    <ul>
                        <li>var
                            <ul>
                                <li>catValu</li>
                                <li>labl</li>
                                <li>catgry</li>
                                <li>qstnLit</li>
                                <li>universe</li>
                                <li>notes</li>
                            </ul>
                        </li>
                        <li>IDNo</li>
                        <li>titl</li>
                    </ul>
                    <p>Assurez-vous que ces balises sont présentes dans votre fichier XML pour garantir une structure valide.</p>
                </div>

                <h2>Uploader un fichier XML</h2>
                <form class="d-flex flex-column" method="POST" enctype="multipart/form-data" id="xmlUploadForm" action="{% url 'app:upload_xml' %}">
                    {% csrf_token %}
                    <div class="mb-2">
                    {{ xml_form.series.label_tag }} {{ xml_form.series }}
                    </div>
                    <div>
                    {{ xml_form.xml_file.label_tag }} {{ xml_form.xml_file }}
                    </div>
                </form>
                <button type="submit" form="xmlUploadForm" id="submitXmlBtn" class="btn btn-success mt-3">Envoyer le fichier XML</button>
            </div>
        </div>
        
        <!-- Superposition et spinner de chargement -->
        <div class="overlay" id="overlay">
            <div class="spinner-container">
                <div class="spinner"></div>
                <div class="spinner-text">Traitement en cours...</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        Swal.fire({
                            icon: 'success',
                            title: 'Succès',
                            html: '{{ message|safe }}'  
                        }).then(function() {
                            document.getElementById('overlay').classList.remove('show');
                        });
                    {% elif "error" in message.tags %}
                        Swal.fire({
                            icon: 'error',
                            title: 'Erreur',
                            html: "{{ message|safe }}"
                        }).then(function() {
                            document.getElementById('overlay').classList.remove('show');
                        });
                    {% endif %}
                {% endfor %}
            {% endif %}
        });

        document.getElementById('csvUploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch('{% url "app:check_duplicates" %}', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'exists') {
                    Swal.fire({
                        title: 'Doublons détectés',
                        text: 'Certaines variables de ce document existent déjà. Voulez-vous les mettre à jour ?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Oui, mettre à jour',
                        cancelButtonText: 'Annuler',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById('csvUploadForm').submit();
                        } else {
                            document.getElementById('overlay').classList.remove('show');
                        }
                    });
                } else {
                    document.getElementById('csvUploadForm').submit();
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Erreur',
                    text: 'Une erreur s\'est produite lors de la vérification des doublons.',
                });
                document.getElementById('overlay').classList.remove('show');
            });
        });

        document.getElementById('xmlUploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch('{% url "app:check_duplicates" %}', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'exists') {
                    Swal.fire({
                        title: 'Doublons détectés',
                        text: 'Certaines variables de ce document existent déjà. Voulez-vous les mettre à jour ?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Oui, mettre à jour',
                        cancelButtonText: 'Annuler',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById('xmlUploadForm').submit();
                        } else {
                            document.getElementById('overlay').classList.remove('show');
                        }
                    });
                } else {
                    document.getElementById('xmlUploadForm').submit();
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Erreur',
                    text: 'Une erreur s\'est produite lors de la vérification des doublons.',
                });
                document.getElementById('overlay').classList.remove('show');
            });
        });

        document.getElementById('csvUploadForm').addEventListener('submit', function() {
            document.getElementById('overlay').classList.add('show');
        });

        document.getElementById('xmlUploadForm').addEventListener('submit', function() {
            document.getElementById('overlay').classList.add('show');
        });

        {% if missing_columns %}
            Swal.fire({
                icon: 'error',
                title: 'Colonnes manquantes',
                text: 'Les colonnes suivantes sont manquantes: {{ missing_columns|join:", " }}'
            });
        {% endif %}
    </script>
{% endblock %}

{% block extra_css %}
    <style>
        .container-custom {
            min-height: 90%;
            flex-grow: 1;
        }

        .help-box {
            background-color: #e9ecef;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
            color: #333;
        }

        .help-box h2 {
            color: #007bff;
            font-size: 1.2em;
        }

        button {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 20px;
        }

        button:hover {
            background-color: #218838;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 999;
        }

        .overlay.show {
            display: flex;
        }

        .spinner {
            width: 60px;
            height: 60px;
            border: 8px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            border-top: 8px solid #28a745;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .spinner-text {
            font-size: 1.2em;
            margin-top: 10px;
            color: white;
        }
    </style>
{% endblock %}
