name: Lint
run-name: lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: astral-sh/ruff-action@v3
      - run: ruff check
      - run: ruff format
