name: Tests
run-name: tests

on:
  workflow_call:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.9', '3.13']

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: python -m pip install -e ".[dev]"

      - name: Test with pytest
        run: |
          python -m pytest
